.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.header-list {
    display: flex;
    list-style: none;
    font-size: 1.6rem;
    align-items: center;
}

.header-item-tile{
    color: #8f2624;
    font-size: 4rem;
    font-weight: 700;
}

.header-btn {
    font-size: 1.6rem;
    background-color: #8f2624;
    color: var(--white-color);
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
    font-weight: 700;
    min-width: 150px;
    min-height: 30px;
    box-shadow: 0 0 2px #8f2624;
    cursor: pointer;
    transition: transform linear 0.1s;
    will-change: transform;
}

.header-btn:hover,.search-btn:hover {
    transform: translateY(-1px);
    opacity: 0.9;
}

.header-btn--export {
    margin-right: 10px;
}
/* search */
.search-btn{
    font-size: 1.6rem;
    background-color: #8f2624;
    color: var(--white-color);
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
    font-weight: 700;
    min-width: 100px;
    min-height: 35px;
    box-shadow: 0 0 2px #8f2624;
    cursor: pointer;
    transition: transform linear 0.1s;
    will-change: transform;
}
.content__search {
    background-color: var(--white-color);
    height: 50px;
    position: relative;
}

.content__search-wrap_left{
    position: absolute;
    top: 15px;
    left: 100px;
    border: 1px solid #8f2624;
    display: flex;
    width: 30%;
    border-radius: 2px;
    box-shadow: 0 0 2px #8f2624 
}
.content__search-wrap_left::before{
   content: "Ngày bắt đầu: ";
   margin: 9px 0 9px 5px;
   width: 80%;
   font-size: 14px;
}

.content__search-wrap_right::before{
    content: "Ngày kết thúc: ";
    margin: 9px 0 9px 5px;
    width: 80%;
    font-size: 14px;
 }
 
.content__search-wrap_right{
    position: absolute;
    top: 15px;
    right: 200px;
    border: 1px solid #8f2624;
    display: flex;
    width: 30%;
    border-radius: 2px;
    box-shadow: 0 0 2px #8f2624 
}

.content_thongke{
    position: absolute;
    top: 15px;
    right: 50px;
}

.content__search-input-wrap {
    height: 80%;
    width: 300px;
    margin: 0 auto;

}

.content__search-btn-icon {
    color: #8f2624;
    cursor: pointer;
    transition: transform linear 0.1s;
    will-change: transform;
}

.content__search-btn-icon:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.content__search-input {
    width: 100%;
    height: 100%;
    line-height: 1.6rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 7px 5px;
}

.content__search-btn {
    font-size: 2rem;
    padding: 5px 5px;
    align-items: center;
    background-color: transparent;
    border: none;
}
/* table */

.content__table, th, td {
    border-bottom: 1px solid var(--primary-color);
}

.content__table {
    width: 100%;
    background-color: var(--white-color);
    border-collapse: collapse;
    
}

th {
    font-size: 1.6rem;
    width: 10%;
    text-align: center;
    color: #8f2624;
    font-weight: 700;
    height: 100px;
}
td {
    text-align: center;
    padding: 10px 10px;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    height: 120px;
}

.content__table-icon {
    font-size: 1.6rem;
    color: #8f2624;
    transition: transform linear 0.1s;
    will-change: transform;
}

.content__table-icon:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.img {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border: 1px solid #999;
    border-radius: 2px;
}

.content__table-input {
    height: 35px;
    color: #8f2624;
    font-weight: 600;
    border-radius: 4px;
    padding: 0 5px;
    border: 2px solid #8f2624;
}

.content__table-input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

